<% content_for :title, 'Edit Group' %>

<h4>Edit Group</h4>
 
<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
    <div id='error_explanation'>
      <div class='alert alert-error'>
        <%= pluralize(@group.errors.count, 'error') %> prohibited this group from being saved:
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      </div>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
   
    <%= f.label :action %>
    <%= f.select :action, ExceptionCanary::Group::ACTIONS.map { |a| [action_name(a), a] } %>

    <%= f.label :match_type %>
    <%= f.select :match_type, ExceptionCanary::Group::MATCH_TYPES.map { |m| [match_type_name(m), m] } %>

    <%= f.label :value %>
    <%= f.text_area :value %>

    <%= f.label :note %>
    <%= f.text_area :note %>

    <p>Note: When defining a regex value, you must escape parentheses and other regex operators, e.g. \(StandardError\) not (StandardError)</p>
   
    <br>
    <%= f.submit %>
  </fieldset>
<% end %>