<% content_for :title, "Group: #{@group.name}" %>

<h4><%= @group.name %></h4>

<table class='table'>
  <thead>
    <tr>
      <th>Action</th>
      <th>Match Type</th>
      <th>Value</th>
      <th>Matched Exceptions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= action_name(@group.action) %>
        <% if @group.notify? %>
          <%= link_to 'Switch to Suppress', group_path(@group, group: { action: ExceptionCanary::Group::ACTION_SUPPRESS }), method: :put, class: 'btn' %>
        <% else %>
          <%= link_to 'Switch to Notify', group_path(@group, group: { action: ExceptionCanary::Group::ACTION_NOTIFY }), method: :put, class: 'btn' %>
        <% end %>
      </td>
      <td><%= match_type_name(@group.match_type) %></td>
      <td><%= @group.value %></td>
      <td><%= @group.exceptions_count %>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_group_path(@group), class: 'btn' %>
<%= link_to 'Delete', group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn right' %>

<% unless @group.exceptions_count == 0 %>
  <hr>
  <h4>Matched Exceptions</h4>
  <%= render partial: 'exception_canary/stored_exceptions/table', locals: { stored_exceptions: @stored_exceptions, hide_group: true } %>
<% end %>