<table class='table'>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Title</th>
      <th>Class</th>
      <% unless defined?(hide_rule) && hide_rule %>
        <th>Rule</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @stored_exceptions.each do |se| %>
      <tr>
        <td><%= link_to format_time(se.created_at), se %></td>
        <td><%= se.title %></td>
        <td><%= se.klass %></td>
        <% unless defined?(hide_rule) && hide_rule %>
          <td>
            <% if se.rule %>
              <% if se.rule.name == se.title %>
                <%= link_to se.rule.id, se.rule %>
              <% else %>
                <%= link_to se.rule.name, se.rule %>
              <% end %>
            <% else %>
              None
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @stored_exceptions %>