<table class='table'>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Message</th>
      <th>Class</th>
      <% unless defined?(hide_group) && hide_group %>
        <th>Group</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @stored_exceptions.each do |se| %>
      <tr>
        <td><%= link_to format_time(se.created_at), se %></td>
        <td><%= se.short_title %></td>
        <td><%= se.klass %></td>
        <% unless defined?(hide_group) && hide_group %>
          <td>
            <% if se.group %>
              <% if se.group.name == se.title %>
                <%= link_to se.group.id, se.group %>
              <% else %>
                <%= link_to se.group.name, se.group %>
              <% end %>
            <% else %>
              None
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @stored_exceptions %>