<% content_for :title, "Stored Exception: #{@stored_exception.title}" %>

<h4><%= @stored_exception.title %></h4>

<%= simple_format @stored_exception.backtrace %>

<% if @stored_exception.rule %>
  <hr>
  <h4>Rule</h4>
  <p><%= link_to @stored_exception.rule.name, @stored_exception.rule %></p>
  <p>
    Rule status: 
    <% if @stored_exception.rule.is_active %>
      <b>Active</b> <%= link_to 'Deactivate', rule_path(@stored_exception.rule, rule: { is_active: false }), method: :put, class: 'btn' %>
    <% else %>
      <b>Inactive</b> <%= link_to 'Activate', rule_path(@stored_exception.rule, rule: { is_active: true }), method: :put, class: 'btn' %>
    <% end %>
  </p>
  <p>
    Rule action: 
    <% if @stored_exception.rule.notify? %>
      <b>Notify</b> <%= link_to 'Switch to Suppress', rule_path(@stored_exception.rule, rule: { action: ExceptionCanary::Rule::ACTION_SUPPRESS }), method: :put, class: 'btn' %>
    <% else %>
      <b>Suppress</b> <%= link_to 'Switch to Notify', rule_path(@stored_exception.rule, rule: { action: ExceptionCanary::Rule::ACTION_NOTIFY }), method: :put, class: 'btn' %>
    <% end %>
  </p>
<% end %>

<% if @stored_exception.variables %>
  <hr>
  <h4>Variables</h4>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @stored_exception.variables.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @stored_exception.environment %>
  <hr>
  <h4>Environment</h4>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @stored_exception.environment.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>