<%= form_for @rule do |f| %>
  <% if @rule.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@rule.errors.count, 'error') %> prohibited
        this rule from being saved:</h2>
      <ul>
      <% @rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
   
    <%= f.label :action %>
    <%= f.select :action, ExceptionCanary::Rule::ACTIONS.map { |a| [action_name(a), a] } %>

    <%= f.label :match_type %>
    <%= f.select :match_type, ExceptionCanary::Rule::MATCH_TYPES.map { |m| [match_type_name(m), m] } %>

    <%= f.label :value %>
    <%= f.text_field :value %>
   
    <br>
    <%= f.submit %>
  </fieldset>
<% end %>