<% content_for :title, 'Rules' %>

<p><%= link_to 'New Rule', new_rule_path %></p>

<table class='table rules'>
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'action' %></th>
      <th><%= sortable 'match_type', 'Match Type' %></th>
      <th><%= sortable 'value' %></th>
      <th><%= sortable 'is_active', 'Active?' %></th>
      <th><%= sortable 'exceptions_count', 'Matched Exceptions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= link_to rule.name, rule %></td>
        <td><%= action_name(rule.action) %></td>
        <td><%= match_type_name(rule.match_type) %></td>
        <td><%= rule.value %></td>
        <td><%= active?(rule.is_active) %></td>
        <td><%= rule.exceptions_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rules %>