<% content_for :title, 'Groups' %>

<table class='table rules'>
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'action' %></th>
      <th><%= sortable 'match_type', 'Match Type' %></th>
      <th><%= sortable 'value' %></th>
      <th><%= sortable 'exceptions_count', 'Matched Exceptions' %></th>
      <th><%= sortable 'most_recent_exception', 'Most Recent Exception' %></th>
    </tr>
  </thead>
  <tbody>
    <% @rules.each do |rule| %>
      <tr class='<%= 'warning' if rule.notify? %>'>
        <td><%= link_to rule.name, rule %></td>
        <td><%= action_name(rule.action) %></td>
        <td><%= match_type_name(rule.match_type) %></td>
        <td><%= rule.value %></td>
        <td><%= rule.exceptions_count %></td>
        <td><%= rule.most_recent_exception.nil? ? 'None' : format_time(Time.parse(rule.most_recent_exception)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rules %>