<% content_for :title, "Rule: #{@rule.name}" %>

<h4><%= @rule.name %></h4>

<table class='table'>
  <thead>
    <tr>
      <th>Action</th>
      <th>Match Type</th>
      <th>Value</th>
      <th>Matched Exceptions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= action_name(@rule.action) %>
        <% if @rule.notify? %>
          <%= link_to 'Switch to Suppress', rule_path(@rule, rule: { action: ExceptionCanary::Rule::ACTION_SUPPRESS }), method: :put, class: 'btn' %>
        <% else %>
          <%= link_to 'Switch to Notify', rule_path(@rule, rule: { action: ExceptionCanary::Rule::ACTION_NOTIFY }), method: :put, class: 'btn' %>
        <% end %>
      </td>
      <td><%= match_type_name(@rule.match_type) %></td>
      <td><%= @rule.value %></td>
      <td><%= @rule.exceptions_count %>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_rule_path(@rule) %>
<%= link_to 'Delete', rule_path(@rule), method: :delete, data: { confirm: 'Are you sure?' } %>

<% unless @rule.exceptions_count == 0 %>
  <hr>
  <h4>Matched Exceptions</h4>
  <%= render partial: 'exception_canary/stored_exceptions/table', locals: { stored_exceptions: @stored_exceptions, hide_rule: true } %>
<% end %>