<!DOCTYPE html>
<html>
  <head>
    <title>ExceptionCanary | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    'exception_canary/application', media: 'all' %>
    <%= javascript_include_tag 'exception_canary/application' %>
    <%= csrf_meta_tags %>
  </head>
<body class='exception-canary'>
  <nav>
    <div class='left'>
      <%= yield(:title) %>
    </div>
    <div class='right'>
      <ul>
        <li>
          <%= link_to 'Exceptions', stored_exceptions_path %>
        </li>
        <li class='divider'></li>
        <li>
          <%= link_to 'Rules', rules_path %>
        </li>
      </ul>
    </div>
    <hr>
  </nav>
  <main>
    <% if flash[:notice] %>
      <div class='alert alert-success'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
